* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #E1DFCB;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    display: flex;          
    align-items: center;   
    padding: 21px 35px;    
}

#sex {
    border: 1px solid #000;
    border-radius: 10px;
    width: 443px;
    height: 64px;
    background: rgba(217, 217, 217, 0);
    margin-left: 35px;     
    display: flex;
    align-items: center;
    
}

#sex-active{
    border: 1px solid #000;
    border-radius: 10px;
width: 443px;
height: 725px;
    background: rgba(217, 217, 217, 0);     
    position: absolute;
    top: 21px;
    left: 70px;
    background: transparent;
    visibility: hidden;
}

#button-bars-vert{
    border: none;
    position: absolute;
    top: 14px;
    left: 17px;
    cursor: pointer;
    background: transparent;
}



#menu-active{
    position: absolute;
    left: 62px;
    top: 22px;
}

.sex-button-active {
    width: 112px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 12px;
}

#women-button-active{
    position: absolute;
    top : 12px;
    right: 144px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#button-bars{
    background-color: transparent;
    border: none;
}

#sex .bars {
    margin: 0 8px 0 17px;
    cursor: pointer;
}

#menu {
    margin-right: 82px;
}

.sex-button {
    width: 112px;
    height: 40px;
    cursor: pointer;
}

#women-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#men-button {
    color: #f5f5f5;
    background-color: #2C2C2C;
    border-radius: 8px;
}

#logo {
    justify-content: center;
    text-align: center;
    display: flex;
    width: 95px;
    height: 48px;
    margin: 0;             
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    font-size: 40px;
color: #000; 
}

#search{
    position: absolute;
    right: 2%;
    display: flex;          
    align-items: center;    
    gap: 20px; 
}

#search input {
    border: 1px solid #464646;
border-radius: 10px;
width: 246px;
height: 40px;
padding: 12px 16px 12px 52px; 
box-sizing: border-box;
font-size: 15px;

}

.search-icon {
    margin-right: -57px;
    display: flex;
    align-items: center;
    z-index: 2;
    cursor: pointer;
  }  

  
  
  
  .bag-shopping {
        position: relative;    
        flex-shrink: 0;       
    }

    #search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    }

#num-goods{
    background: rgba(217, 217, 217, 0);
    border: 1px solid #000;
border-radius: 10px;
width: 25px;
height: 18px;
text-align: center;
justify-content: center;
position: absolute;
display: flex;
top: 92%;
right: 59px;
visibility: hidden;
}


.bag-container{
    background: #f5f5f5;
    border-radius: 10px;
width: 425px;
height: 664px;
position: absolute;
display: flex;
right: 21px;
top: 21px;
z-index: 2;
padding: 20px 21px 20px 21px;
box-sizing: border-box;
visibility: hidden;
}

#line-bag-con{
    border: 1px solid #000;
width: 383px;
height: 0px;
display: flex;
position: absolute;
top: 7.7%;
}

#x-mark{
    display: flex;
    position: absolute;
    right: 28px;
    cursor: pointer;
}

#section-bag1{
    width: 372px;
height: 132px;
position: absolute;
display: flex;
left: 21px;
top: 66px;
box-sizing: border-box;
padding-top:5px;
padding-bottom: 5px;
gap: 10px;
}

#section-bag1 button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#section-bag2 button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#xmark-button{
    position: absolute;
    right: -5px;
    top: 16px;
    cursor: pointer;
}



.edit-icon{
    position: absolute;
    display: flex;
    right: 3px;
    top: 5px;
    cursor: pointer;
}

.favorite-icon{
    position: absolute;
    display: flex;
    right: 3px;
    top: 55px;
    cursor: pointer;
}

.trash-icon{
    position: absolute;
    display: flex;
    right: 3px;
    top: 105px;
    cursor: pointer;
}

.size-num-bag{
    background-color:transparent;
    width: 213px;
height: 25px;
position: absolute;
    display: flex;
    top: 100px;
    left: 55px;
}


.num-inbag pre{
    position: absolute;
    white-space: nowrap;
    left: 120px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 15px;
color: #464646;
}



.num-inbag{
    background:transparent;
    border: 1px solid #000;
border-radius: 10px;
width: 89px;
height: 25px;
align-items: center;
justify-content: center;
position: absolute;
display: flex;
gap: 16px;
}

.num-inbag svg{
    cursor: pointer;
}


#section-bag2{
    width: 372px;
    height: 132px;
    position: absolute;
    display: flex;
    left: 21px;
    top: 194px; 
    box-sizing: border-box;
    padding-top:5px;
    padding-bottom: 5px;
    gap: 10px;
    margin-top: 28px;
}

#bag-text2{
    display: block;
}

#bag-text2 span{
    color: #AF3232;
}

.edit-icon2{
    position: absolute;
    display: flex;
    right: 3px;
    top: 5px;
    cursor: pointer;
}

.favorite-icon2{
    position: absolute;
    display: flex;
    right: 3px;
    top: 55px;
    cursor: pointer;
}

.trash-icon2{
    position: absolute;
    display: flex;
    right: 3px;
    top: 105px;
    cursor: pointer;
}

.size-num-bag2{
    background-color:transparent;
    width: 213px;
    height: 25px;
    position: absolute;
    display: flex;
    top: 100px;
    left: 55px;
}

.num-inbag2 pre.text-size-bag2{
    position: absolute;
    white-space: nowrap;
    left: 120px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #464646;
}

.num-inbag2{
    background:transparent;
    border: 1px solid #000;
    border-radius: 10px;
    width: 89px;
    height: 25px;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    gap: 16px;
}

.num-inbag2 svg{
    cursor: pointer;
}

#footer-bag button{
    border: 1px solid #2c2c2c;
border-radius: 8px;
padding: 12px;
width: 383px;
height: 44px;
position: absolute;
top: 600px;
right: 21px;
background: #2c2c2c;
color: #f5f5f5;
cursor: pointer;
}

#footer-bag span{
    position: absolute;
    bottom: 78px;
    left: 21px;
    font-size: 20px;
} 



.menu-block {
    border-radius: 8px;
    padding: 10px 0 10px 0;
    width: 443px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    box-sizing: border-box;
    position: absolute;
    top: 66px;
    background: transparent;
    position: absolute;
  }
  
  .menu-list {
    list-style: none;
    margin: 0;
    padding: 0 20px;
  }
  
  .menu-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 36px;
    border-left: 1px solid #2c2c2c; 
    position: relative;
    padding: 0 0 0 12px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 0;
}

  
  
  
  
  .menu-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    color: #222;
    cursor: pointer;
    padding: 12px;
    margin: 0;
    font-family: inherit;
    text-align: left;
  }
  
  
  
  .menu-special {
    color: #e53935;
    font-size: 18px;
    margin-left: auto;
    font-weight: 400;
    border-right: 1px solid #e53935;
    background: transparent;
  }
  
  .menu-right {
    margin-left: auto;
    font-size: 17px;
    color: #222;
    padding-right: 12px;
    border-right: 1px solid #222;
    height: 100%;
    display: flex;
    align-items: center;
    background: none;
  }
  

  .menu-btn:hover {
    color: #f5f5f5;
    background:#222;
  }

  .menu-special:hover{
    background:#e53935;
  }

  
  
  
  